<div class="modal fade" id="modalConfirmaDelete" tabindex="-1" caller-id="" role="dialog" aria-labelledby="modalConfirmaDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Esta ação não pode ser desfeita. Tem certeza que deseja apagar esta categoria?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="botaoConfirmaExclusao">Excluir</button>
        </div>
      </div>
    </div>
  </div>    