{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %} ">

  
    <title> {% block title %} Agenda {% endblock title %} </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'core:home' %}">Agenda</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'core:add_categoria' %}">Adicionar Categoria</a></li>
                  <li><a class="dropdown-item" href="{% url 'core:lista_categorias' %}">Listar Categorias</a></li>
                  <li><a class="dropdown-item" href="{% url 'core:add_compromisso' %}">Adicionar Compromisso</a></li>
                  <li><a class="dropdown-item" href="{% url 'core:lista_compromissos' %}">Listar Compromissos</a></li>
                </ul>
              </li>
            </ul>

            {% if user.is_authenticated %}
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username}}</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'autenticacao:logout_usuario' %}">Sair</a></li>
                </ul>
              </li>
            </ul>
            {% endif %}
          </div>
        </div>
      </nav>
     
    {% block body %}


    {% endblock body %}
    <script src="{% static 'js/bootstrap.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'js/jquery-3.6.1.min.js' %} "></script>
    <script src="{% static 'js/jquery-ui.js' %} "></script>

    <script>
      $(function() {
          $( "#id_data" ).datepicker(
            {
              dateFormat: "dd/mm/yy",
              dayNamesMin: ["Dom","Seg","Ter","Qua","Qui","Sex","Sab"],
              monthNames: ["Janeiro","Fevereiro","Março","Abril","Maio","Junho","Julho","Agosto","Setembro",
                           "Outubro","Novembro","Dezembro"],
            }
          );
      }  );
    </script>

</body>
</html>