{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
		    <title> Posicionamento com CSS </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/estilo.css' %} ">
	</head>
 <body>
  <div id="cabecalho">
    <p> 
        Este é o cabeçalho da página 
     </p>
  </div>		

  <div id="coluna1">
     <p> 
        Aqui vai aparecer o conteúdo da coluna 1 
     </p>   
     <p>
        Segundo parágrafo da coluna 1
     </p>
  </div>

  <div id="coluna2">
     <p> 
        Parágrafo dentro da coluna 2. 
     </p>
  </div>

  <div id="coluna3">
    <p> 
       Exemplo de layout com três colunas.
    </p>
 </div>

  <div id="rodape">
     <p> Rodapé da página </p>
  </div>
</body>
</html>  